<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
        <li> ><%= link_to "Home", root_path %></li>
		<li><%= link_to "signup", '/signup' %></li>
		<li><%= link_to "login", '/login' %></li>
        <li><%= link_to "Add dagrs", '/add_dagr' %></li>
    </ul>
  </div>
</nav>
